* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
}

.app-container {
  width: 800px;
  border: 1px solid red;
  margin: 1em auto;
}

/* ------------------------ Header ----------------------------- */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5em;
  background: #F55A5A;

}

.globe-image {
  width: 24px;
}

/* ------------------------- Card ------------------------------ */

.card-container {
  width: 90%;
  display: flex;
  column-gap: 1em;
  margin: 1em auto;
}

.card-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-location {
  display: flex;
  align-items: center;
  border: 1px solid green;
}

.location-icon {
  margin-right: .2em;
}

.card-country {
  margin-right: .5em;
}